<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @fridge.item_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @fridge.quantity %>
</p>

<p>
  <strong>User:</strong>
  <%= @fridge.user_id %>
</p>

<p>
  <strong>Date bought:</strong>
  <%= @fridge.date_bought %>
</p>

<%= link_to 'Edit', edit_fridge_path(@fridge) %> |
<%= link_to 'Back', fridges_path %>
